main {
  text-align: center;
}

#code-area {
  width: 500px;
  height: 250px;
}

#share {
  margin-top: 10px;
  margin-bottom: 10px;
}

sub {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
