/* General Styles */

main {
  text-align: center;
  max-width: 960px;
  min-width: 480px;
  margin: 0 auto;
}

fieldset {
  border: 0;
}

nav {
  text-align: right;
}

sub {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

textarea {
  width: 500px;
  height: 200px;
  tab-size: 4;
}

/* Specific Styles */

#share {
  margin-top: 10px;
  margin-bottom: 10px;
}

#run {
  margin-top: 10px;
  margin-bottom: 10px;
}

#code-view {
  text-align: left;
}

#code-view textarea {
  height: calc(25vh - 48px);
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

#code-view #code-area {
  height: calc(75vh - 48px);
}

#identify-codes {
  margin-top: 30px;
}

#code-view {
  text-align: left;
}

#code-view textarea {
  height: calc(25vh - 48px);
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

#code-view #code-area {
  height: calc(75vh - 48px);
}

#check-code-result {
  margin: -7px;
  float: right;
  position: relative;
  top: 30px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

#output-text {
  width: 500px;
  height: 175px;
}

#output {
  display: flex;
  flex-flow: row wrap;
}

#output label {
  text-align: left;
  flex: 1;
}

#result-area {
  margin-top: 75px;
  margin-bottom: 10px;
}

#warning-box {
  position: absolute;
  width: 420px;
  margin-left: -442px;
  top: 36px;
  text-align: left;
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  font-weight: bold;
}

#copy {
  min-width: 6em;
}

/* Style Classes */

.labelIncorrect {
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.labelCorrect {
  border: 2px solid rgba(0, 255, 0, 0.5);
}

.result-output {
  font-size: 50px;
}

.warningHidden {
  display: none;
}

.warningVisible {
  display: inline-block;
}
