main {
  text-align: center;
}

textarea {
  width: 500px;
  height: 200px;
  tab-size: 4;
}

#share {
  margin-top: 10px;
  margin-bottom: 10px;
}

#run {
  margin-top: 10px;
  margin-bottom: 10px;
}

sub {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

#check-code-result {
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

#output-text {
  width: 500px;
  height: 175px;
}

#code-output {
  width: 500px;
  height: 175px;
}

#target-text {
  width: 500px;
  height: 175px;
}

#copy {
  min-width: 6em;
}

fieldset {
  border: 0;
}

.labelIncorrect {
  border: 2px solid rgba(255, 0, 0, 0.5);
}

.labelCorrect {
  border: 2px solid rgba(0, 255, 0, 0.5);
}

.warningHidden {
  display: none;
}

.warningVisible {
  display: block;
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
